<mat-toolbar class = "navbar">
    <div class = "logo">

        <h2>Weather</h2><span>It</span>

    </div>

    <div>

        <ul>

            <li>
                <a routerLink = ""> Home </a>
            </li>
            <li>
              <a  routerLink = "/account">  Daily Weather</a>
            </li>

        </ul>

    </div>
    

    <div>

        <a routerLink="/login">

            <button>
                Login
            </button>

        </a>
        

        <a routerLink = "/register">
            
            <button>
                Register
            </button>

        </a>

       

    </div>
</mat-toolbar>