<div class = "container">

   

    <h1 class = "title">Today's Weather</h1>


    <div class = "weather-container">

    <div class = "weather">

        <h1>Temperature</h1>


        <h2> {{ weather.temperature }} ° C </h2>

    </div>
   

    <div class = "weather">

        <h1>Humidity</h1>


        <h2> {{ weather.humidity }} %</h2>

    </div>

   </div>

</div>


<div class = "weather-components">


    <div class = "card">


        <img src = "../../assets/">


        <div>

           <h2> Reliable Weather Updates </h2> 


        </div>

    </div>



    <div class = "card">


        <img src = "../../assets/photo-1562009313-2dc966f71c3d.jpg">


        <div>


           <h2>Information Availble</h2> 


        </div>

    </div>






    <div class = "card">


        <img src = "../../assets/photo-1514632595-4944383f2737.jpg">


        <div>


           <h2>  Keep up to Date with the weather </h2>

        </div>

    </div>



</div>



<footer>


    <div>


             @WeatherIt All Rights Reserved . 
        
        Images From Splash Website For Illustration Only


    </div>



</footer>